/* Menu */

#front-page-nav {
  background-color: #fff;
}

#front-page-nav a {
  color: #4ba8ea;
}

#front-page-nav ul.side-nav li:hover {
  background-color: #e8f3fb;
}

/* index-banner */
#index-banner {
  background-color: #4ba8ea;
  color: #fff;
  padding-bottom: 10px;
  h1 {
    color: #fff;
    margin: 10px 0;
  }
  p {
    font-size: 2em;
    line-height: 37px;
  }
  .date {
    font-size: 2.3em;
    margin: 10px 0;
  }
  #signup-btn {
    background: #fff;
    color: #4ba8ea;
  }
}

/* Steps */
#steps {
  background: #f2f2f2;
  padding: 40px 0 30px 0;
  .item {
    text-align: center;
    h3 {
      font-size: 1.8rem;
      font-weight: 500;
      margin: 10px 0 0 0;
      color: rgba(0, 0, 0, 0.71);
    }
    .caption {
      margin: 0px;
    }
    .icon {
      height: 140px;
    }
  }
}

/* About */
#about {
  padding: 30px 0;
  h2 {
    margin-top: 0px;
  }
  #mockup {
    margin: 20px 10px 0 10px;
  }
  #instructions-btn {
    margin-top: 15px;
    font-weight: 800;
  }
}

/* enrollment */

#enrollment {
  background: #f2f2f2;
  padding: 40px 0 30px 0;
  .action {
    text-align: center;
    margin-top: 15px;
  }
}

/* Faqs */
#faqs {
  background: #4ba8ea;
  padding: 30px 0;
  h2 {
    margin-top: 0px;
    color: #fff;
  }
  h3 {
    font-size: 1.4em;
    margin: 0;
    color: #fff;
  }
  p {
    margin: 0;
  }
  .faq {
    margin-bottom: 10px;
  }
}

/* Schedule */
#schedule {
  padding: 30px 0;
  h2 {
    margin-top: 0px;
  }
  table {
    margin-top: 20px;
  }
}

/* Location */
#location {
  #map {
    margin-top: 15px;
  }
}

/* Sponsors */
#sponsors {
  padding: 30px 0;
  h2 {
    margin-top: 0px;
  }
  .caption {
    font-size: 20px;
  }
  #sponsor-btn {
    font-weight: 800;
  }
  .sponsor {
    height: 80px;
  }
}

/* Footer */
footer {
  background-color: #4ba8ea;
  color: #fff;
}

footer a {
  color: #fff;
}