body {
  font-family: Roboto, sans-serif;
  font-weight: 300;
}

*{
  -webkit-font-smoothing: antialiased;
}

h2 {
  color: #4ba8ea;
  font-weight: 300;
  font-size: 2.92rem;
  line-height: 3.212rem;
  -webkit-font-smoothing: antialiased;
}

.header {
  text-align: center;
}

table.striped tbody tr:nth-child(odd) {
  background-color: #4ba8ea;
}