body {
  font-family: Roboto, sans-serif;
  font-weight: 300;
}

*{
  -webkit-font-smoothing: antialiased;
}

h1 {
  color: #4ba8ea;
}

h2 {
  color: #4ba8ea;
  font-weight: 300;
  font-size: 2.92rem;
  line-height: 3.212rem;
  -webkit-font-smoothing: antialiased;
}

.header {
  text-align: center;
}

#logo-container{
  font-weight: 700;
  word-spacing: -7px;
  .dark_part {
    color: #555;
  }
  .light_part {
    color: #4ba8ea;
  }
}