#projects {
  .name {
    font-size: 16px;
    color: #1E88E5;
    font-weight: bold;
  }
  .section {
    margin-top: 5px;
    margin-bottom: 0px;
    padding: 0px;
  }
  .description, .developers {
    margin-top: 5px;
  }
}
