<section id="about">
  <div class="container">
    <h2 class="header">Así funciona</h2>
    <div class="row">
      <div class="col s12 m6">
        <figure id="mockup"><%= image_tag "http://www.landingsumo.com/demos/Theme%2007/assets/img/browser.png", class: "responsive-img" %></figure>
      </div>
      <div class="col s12 m6">
        <p>Al inicio del evento los participantes expondrán sus ideas y luego ellos mismos elegirán las mejores para empezar a trabajar entorno a ellas.</p>
        <p>Se organizarán equipos multidisciplinares de hasta 4 personas, lo ideal serían tres programadores y un diseñador.</p>
        <p>A última hora, cada equipo tendrá 5 minutos para, por un lado hacer una presentación de su proyecto (problema que intenta resolver, solución adoptada, mercado al cual puede optar, competidores y mejoras con respecto a estos, de donde se sacaría el dinero, biografías de los miembros del equipo, etc. ) y por otro lado hacer una demo del mismo.</p>
        <p>Al finalizar la jornada, un jurado experto elegirá la mejor aplicación, teniendo en cuenta criterios tales como la originalidad de la idea, dificultad técnica, viabilidad del proyecto, diseño y usabilidad de la aplicación, etc.</p>
      </div>
      <div class="col s12 m12 center">
        <%= link_to "Leer las bases", "http://google.com", class: "btn-large waves-effect waves-light", id: "instructions-btn" %>
      </div>
    </div>
  </div>
</section>