<section id="about">
  <div class="container">
    <h2 class="header">Así funciona</h2>
    <div class="row">
      <div class="col s12 m6">
        <figure id="mockup"><%= image_tag "http://www.landingsumo.com/demos/Theme%2007/assets/img/browser.png", class: "responsive-img" %></figure>
      </div>
      <div class="col s12 m6">
        <p>El objetivo principal es desarrollar por equipos de hasta 3 personas, una aplicación web y/o móvil relacionada con un tema que se propondrá unos días antes del evento.</p>
        <p>A última hora, cada equipo tendrá 5 minutos para, por un lado hacer una presentación de su proyecto (problema que intenta resolver, solución adoptada, mercado al cual puede optar, competidores y mejoras con respecto a estos, de donde se sacaría el dinero, tecnologías usadas, biografías de los miembros del equipo, etc. ) y por otro lado hacer una demo del mismo.</p>
        <p>Al finalizar la jornada, un jurado experto elegirá la mejor aplicación, teniendo en cuenta criterios tales como la originalidad de la idea, dificultad técnica, viabilidad del proyecto, diseño y usabilidad de la aplicación, etc.</p>
      </div>
    </div>
  </div>
</section>








