<section id="enrollment">
  <div class="container">
    <h2 class="header">Inscripción</h2>
    <div class="row">
      <div class="col s12 m6">
        <p>
          Tanto el evento, como el avituallamiento (comida y bebida), es totalmente gratuito, el único requisito indispensable es el estar <%= link_to("inscrito en el meetup de Vigo Devs", "http://www.meetup.com/vigo-devs/events/219259693/") %>.
          Al inscribirte aceptas las <%= link_to("bases del concurso", "BasesHackVG.pdf", target: "_blank", title: "Bases HackVG") %>.
        </p>
      </div>
      <div class="col s12 m6 action">
        <a href="http://www.meetup.com/vigo-devs/events/219259693/" class="btn-large waves-effect">INSCRÍBETE</a>
      </div>
    </div>
  </div>
</section>

