<section id="faqs">
  <div class="container">
    <h2 class="header">Preguntas frecuentes</h2>
    <div class="row">
      <% data.faqs.each do |faq| %>
        <div class="col s12 m4 l4">
          <h3><%= faq.title %></h3>
          <p><%= faq.content %></p>
        </div>
      <% end %>
    </div>
  </div>
</section>