<div class="section">
  <div class="container">
    <h2 class="header">Localización</h2>
    <div class="row">
      <div class="col s12 m6 l6">
        <!-- Google Maps. Replace the below iframe with your Google Maps embed code -->
          <iframe height="400" width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2901.1485603185306!2d-8.427749000000015!3d43.353002999999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd2e7cef0c0847c7%3A0xa06288492966320a!2sM.+Lago!5e0!3m2!1ses!2ses!4v1408431984640"></iframe>
      </div>
      <div class="col s12 m6 l6">
        <p>Avenida Loremp Ipsum</p>
        <p>Avenida Loremp Ipsum</p>
        <p>Avenida Loremp Ipsum</p>
      </div>
    </div>
</div>


