<section id="schedule">
  <div class="container">
    <h2 class="header">Horario</h2>
    <div class="row">
      <div class="col s12 m6 l6">
        <table class="striped">
          <tbody>
            <tr>
              <th>09:00</th>
              <td>Inscripción, exposición de ideas y creación de equipos.</td>
            </tr>
            <tr>
              <th>10:00</th>
              <td>Comienzo oficial del tiempo de creación de la aplicación.</td>
            </tr>
            <tr>
              <th>14:00</th>
              <td>Parada para comer y tomar fuerzas.</td>
            </tr>
            <tr>
              <th>14:00</th>
              <td>Parada para comer y tomar fuerzas.</td>
            </tr>
            <tr>
              <th>15:00</th>
              <td>Seguimos con la creación de de la aplicación.</td>
            </tr>
            <tr>
              <th>21:00</th>
              <td>Presentaciones y demos de los distintos equipos.</td>
            </tr>
            <tr>
              <th>22:00</th>
              <td>Fallo del jurado, reparto de premios y cierre del evento.</td>
            </tr>
          </tbody>
        </table> 
      </div>
      <div class="col s12 m6 l6">
        <p>Recuerda esta es una competicón de 12h, usa los lenguajes, herramientas y frameworks que normalmente utilizas o aprovecha para aprender nuevos, pero no puedes malgastar tu tiempo configurando el entorno.</p>
        <p>Durante el desarrollo no trates de implementar un "Concorde", porque posiblemente solo tengas tiempo de conseguir un motor a reacción. Proponte desarrollar un ala delta y con suerte llegarás a implementar un ultraligero.</p>
        <p>Trata de dividir el trabajo, <strong>back</strong>, <strong>front</strong>y <strong>design</strong>. Usa APIs REST para separar back/front y aprovechate de las APIs de terceros, no trates de reinventar la rueda.</p>
        <p>Despliega tu aplicación para que podamos probarla, utiliza servicios como <strong>Heroku</strong> y <strong>GitHub</strong> Pages.</p>
        <p>Prepara un buena demo, realiza unas slides bonitas, conecta con el publico.</p>
      </div>
    </div>
  </div>
</section>

