<div class="section">
  <h2 class="header">Horario</h2>
  <div class="row">
    <div class="col col s8 offset-s2 m8 offset-m2 l8 offset-l2">
      <table class="striped">
        <thead>
          <tr>
              <th data-field="id">Hora</th>
              <th data-field="name">Actividad</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <th>09:00</th>
            <td>Inscripción, exposición de ideas y creación de equipos.</td>
          </tr>
          <tr>
            <th>10:00</th>
            <td>Comienzo oficial del tiempo de creación de la aplicación.</td>
          </tr>
          <tr>
            <th>14:00</th>
            <td>Parada para comer y tomar fuerzas.</td>
          </tr>
          <tr>
            <th>14:00</th>
            <td>Parada para comer y tomar fuerzas.</td>
          </tr>
          <tr>
            <th>15:00</th>
            <td>Seguimos con la creación de de la aplicación.</td>
          </tr>
          <tr>
            <th>21:00</th>
            <td>Presentaciones y demos de los distintos equipos.</td>
          </tr>
          <tr>
            <th>22:00</th>
            <td>Fallo del jurado, reparto de premios y cierre del evento.</td>
          </tr>
        </tbody>
      </table> 
    </div>
  </div>
</div>