<section id="sponsors">
  <div class="container">
    <div class="row center">
      <h2 class="header">Sponsors</h2>
      <p class="col s8 offset-s2 m8 offset-m2 l8 offset-l2 caption">
        Todavía no tenemos sponsors, animate ponte en contacto con nosotros, ayudanos o colabora en este evento, estaremos encantados de hacerte publicidad.
      </p>
    </div>
    <div class="row center">
      <%= link_to "Hazte Sponsor", "/contact.html", class: "btn-large waves-effect waves-light", id: "sponsor-btn"%>
    </div>
  </div>
</section>