<section id="sponsors">
  <div class="container">
  <h2 class="header">Sponsors</h2>
    <div class="row">
      <div class="col s12 m4">
        <%= link_to image_tag('sponsors/sinergia.png', class: 'sponsor responsive-img', alt: "Sinergia Coworking & Lab"), "http://www.sinergiavigo.com/", title: "Sinergia Coworking & Lab" %>
      </div>
      <div class="col s12 m4">
        <%= link_to image_tag('sponsors/quobis.png', class: 'sponsor responsive-img', alt: "Quobis"), "http://www.quobis.com/", title: "Quobis" %>
      </div>
    </div>
    <div class="row">
      <p class="col s8 offset-s2 m8 offset-m2 l8 offset-l2 caption">
        Buscamos sponsors, animate ponte en contacto con nosotros, ayudanos o colabora en este evento, estaremos encantados de hacerte publicidad.
      </p>
    </div>
    <div class="row center">
      <%= link_to "Hazte Sponsor", "/contact.html", class: "btn-large waves-effect waves-light", id: "sponsor-btn"%>
    </div>
  </div>
</section>