<section id="steps">
  <div class="container">
    <div class="row">
      <div class="col s12 m4">
        <div class="item">
          <div class="light-blue-text"><i class="large mdi-social-group"></i></div> 
          <h3>Forma una idea</h3>
          <p class="light">Generamos una tormenta de ideas, se forman equipos y se planifica una ejecución y división de trabajo.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="item">
          <div class="light-blue-text"><i class="large mdi-hardware-laptop-mac"></i></div>
          <h3>Ejecutala</h3>

          <p class="light">Utiliza cualquier lenguajes y tecnologías a tu alcance para llevar a cabo la ejecución de la idea de una manera sencilla y rapida.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="item">
          <div class="light-blue-text"><i class="large mdi-social-public"></i></div>
          <h3>Compartela</h3>
          <p class="light">Haz el despliegue de tu proyecto, prepara unas slides para presentar una demo y muestra los resultados de tu trabajo.</p>
        </div>
      </div>
    </div>
  </div>
</section>