<section id="steps">
  <div class="container">
    <div class="row">
      <div class="col s12 m4">
        <div class="item">
          <div class="light-blue-text"><i class="large mdi-social-group"></i></div> 
          <h3>Forma una idea</h3>
          <p class="light">Nos reunimos todos y generamos una tormenta de ideas, se forman equipos, se planifica la ejecución de los proyectos y se divide el trabajo.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="item">
          <div class="light-blue-text"><i class="large mdi-hardware-laptop-mac"></i></div>
          <h3>Ejecutala</h3>

          <p class="light">Utilizando todo tipo de lenguajes y tecnologías se lleva a cabo la ejecución de las ideas de una manera sencilla y rapida. Se trata de crear prototipos de lo que podría llegar a ser productos finales.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="item">
          <div class="light-blue-text"><i class="large mdi-social-public"></i></div>
          <h3>Compartela</h3>
          <p class="light">Se despliegan los proyectos, se preparan unas slides para presentar una demo y se muestra los resultados del trabajo de cada equipo. Las ideas no son un "tesoro", ¡Compartelas!</p>
        </div>
      </div>
    </div>
  </div>
</section>