<section id="steps">
  <div class="container">
    <div class="row">
      <div class="col s12 m4">
        <div class="item">
          <div class="light-blue-text"><i class="large mdi-social-group"></i></div> 
          <h3>Piensa una idea</h3>

          <p class="light">Crea un grupo, piensa en las necesidades, analiza los recuros y forma una idea.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="item">
          <div class="light-blue-text"><i class="large mdi-hardware-laptop-mac"></i></div>
          <h3>Desarrollala</h3>

          <p class="light">Utiliza cualquier los lenguajes y tecnologías a tu alcance para llevar a cabo la ejecución de vuestra idea de una manera sencilla y rapida.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="item">
          <div class="light-blue-text"><i class="large mdi-social-public"></i></div>
          <h3>Compartela</h3>

          <p class="light">Muestra los resultados de tu trabajo, comparte tu conocimiento y aprende de la experiencia y sabiduría del resto de concursantes.</p>
        </div>
      </div>
    </div>
  </div>
</section>