/* Menu */
/* line 3, /Users/jsayar/Desarrollo/hackvg/source/stylesheets/index.css.scss */
#front-page-nav {
  background-color: #fff; }

/* line 7, /Users/jsayar/Desarrollo/hackvg/source/stylesheets/index.css.scss */
#front-page-nav a {
  color: #4ba8ea; }

/* line 11, /Users/jsayar/Desarrollo/hackvg/source/stylesheets/index.css.scss */
#front-page-nav ul.side-nav li:hover {
  background-color: #e8f3fb; }

/* index-banner */
/* line 16, /Users/jsayar/Desarrollo/hackvg/source/stylesheets/index.css.scss */
#index-banner {
  background-color: #4ba8ea;
  color: #fff;
  padding-bottom: 10px; }
  /* line 20, /Users/jsayar/Desarrollo/hackvg/source/stylesheets/index.css.scss */
  #index-banner h1 {
    color: #fff;
    margin: 10px 0; }
  /* line 24, /Users/jsayar/Desarrollo/hackvg/source/stylesheets/index.css.scss */
  #index-banner p {
    font-size: 2em;
    line-height: 37px; }
  /* line 28, /Users/jsayar/Desarrollo/hackvg/source/stylesheets/index.css.scss */
  #index-banner .date {
    font-size: 2.3em;
    margin: 10px 0; }
  /* line 32, /Users/jsayar/Desarrollo/hackvg/source/stylesheets/index.css.scss */
  #index-banner #signup-btn {
    background: #fff;
    color: #4ba8ea;
    font-weight: 800; }

/* Steps */
/* line 40, /Users/jsayar/Desarrollo/hackvg/source/stylesheets/index.css.scss */
#steps {
  background: #f2f2f2;
  padding: 30px 0; }
  /* line 43, /Users/jsayar/Desarrollo/hackvg/source/stylesheets/index.css.scss */
  #steps h3 {
    font-size: 1.8rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.71); }
  /* line 48, /Users/jsayar/Desarrollo/hackvg/source/stylesheets/index.css.scss */
  #steps i {
    font-size: 6em; }
  /* line 51, /Users/jsayar/Desarrollo/hackvg/source/stylesheets/index.css.scss */
  #steps .item {
    text-align: center; }

/* About */
/* line 57, /Users/jsayar/Desarrollo/hackvg/source/stylesheets/index.css.scss */
#about {
  padding: 30px 0; }
  /* line 59, /Users/jsayar/Desarrollo/hackvg/source/stylesheets/index.css.scss */
  #about h2 {
    margin-top: 0px; }
  /* line 62, /Users/jsayar/Desarrollo/hackvg/source/stylesheets/index.css.scss */
  #about #mockup {
    margin: 20px 10px 0 10px; }
  /* line 65, /Users/jsayar/Desarrollo/hackvg/source/stylesheets/index.css.scss */
  #about #instructions-btn {
    margin-top: 15px;
    font-weight: 800; }

/* Faqs */
/* line 72, /Users/jsayar/Desarrollo/hackvg/source/stylesheets/index.css.scss */
#faqs {
  background: #4ba8ea;
  padding: 30px 0; }
  /* line 75, /Users/jsayar/Desarrollo/hackvg/source/stylesheets/index.css.scss */
  #faqs h2 {
    margin-top: 0px;
    color: #fff; }
  /* line 79, /Users/jsayar/Desarrollo/hackvg/source/stylesheets/index.css.scss */
  #faqs h3 {
    font-size: 1.4em;
    margin: 0;
    color: #fff; }
  /* line 84, /Users/jsayar/Desarrollo/hackvg/source/stylesheets/index.css.scss */
  #faqs p {
    margin: 0; }
  /* line 87, /Users/jsayar/Desarrollo/hackvg/source/stylesheets/index.css.scss */
  #faqs .faq {
    margin-bottom: 10px; }

/* Schedule */
/* line 93, /Users/jsayar/Desarrollo/hackvg/source/stylesheets/index.css.scss */
#schedule {
  padding: 30px 0; }
  /* line 95, /Users/jsayar/Desarrollo/hackvg/source/stylesheets/index.css.scss */
  #schedule h2 {
    margin-top: 0px; }

/* Sponsors */
/* line 101, /Users/jsayar/Desarrollo/hackvg/source/stylesheets/index.css.scss */
#sponsors {
  padding: 30px 0; }
  /* line 103, /Users/jsayar/Desarrollo/hackvg/source/stylesheets/index.css.scss */
  #sponsors h2 {
    margin-top: 0px; }
  /* line 106, /Users/jsayar/Desarrollo/hackvg/source/stylesheets/index.css.scss */
  #sponsors .caption {
    font-size: 20px; }
  /* line 109, /Users/jsayar/Desarrollo/hackvg/source/stylesheets/index.css.scss */
  #sponsors #sponsor-btn {
    font-weight: 800; }

/* Footer */
/* line 115, /Users/jsayar/Desarrollo/hackvg/source/stylesheets/index.css.scss */
footer {
  background-color: #4ba8ea;
  color: #fff; }

/* line 120, /Users/jsayar/Desarrollo/hackvg/source/stylesheets/index.css.scss */
footer a {
  color: #fff; }
