/* Menu */
/* line 3, /Users/jsayar/Desarrollo/hackvg/source/stylesheets/index.css.scss */
#front-page-nav {
  background-color: #fff; }

/* line 7, /Users/jsayar/Desarrollo/hackvg/source/stylesheets/index.css.scss */
#front-page-nav a {
  color: #4ba8ea; }

/* line 11, /Users/jsayar/Desarrollo/hackvg/source/stylesheets/index.css.scss */
#front-page-nav ul.side-nav li:hover {
  background-color: #e8f3fb; }

/* index-banner */
/* line 16, /Users/jsayar/Desarrollo/hackvg/source/stylesheets/index.css.scss */
#index-banner {
  background-color: #4ba8ea;
  color: #fff;
  padding-bottom: 10px; }
  /* line 20, /Users/jsayar/Desarrollo/hackvg/source/stylesheets/index.css.scss */
  #index-banner h1 {
    color: #fff;
    margin: 10px 0; }
  /* line 24, /Users/jsayar/Desarrollo/hackvg/source/stylesheets/index.css.scss */
  #index-banner p {
    font-size: 2em;
    line-height: 37px; }
  /* line 28, /Users/jsayar/Desarrollo/hackvg/source/stylesheets/index.css.scss */
  #index-banner .date {
    font-size: 2.3em;
    margin: 10px 0; }
  /* line 32, /Users/jsayar/Desarrollo/hackvg/source/stylesheets/index.css.scss */
  #index-banner #signup-btn {
    background: #fff;
    color: #4ba8ea;
    font-weight: 800; }

/* Steps */
/* line 40, /Users/jsayar/Desarrollo/hackvg/source/stylesheets/index.css.scss */
#steps {
  background: #f2f2f2;
  padding: 40px 0 30px 0; }
  /* line 43, /Users/jsayar/Desarrollo/hackvg/source/stylesheets/index.css.scss */
  #steps .item {
    text-align: center; }
    /* line 45, /Users/jsayar/Desarrollo/hackvg/source/stylesheets/index.css.scss */
    #steps .item h3 {
      font-size: 1.8rem;
      font-weight: 500;
      margin: 10px 0 0 0;
      color: rgba(0, 0, 0, 0.71); }
    /* line 51, /Users/jsayar/Desarrollo/hackvg/source/stylesheets/index.css.scss */
    #steps .item .caption {
      margin: 0px; }
    /* line 54, /Users/jsayar/Desarrollo/hackvg/source/stylesheets/index.css.scss */
    #steps .item .icon {
      height: 140px; }

/* About */
/* line 61, /Users/jsayar/Desarrollo/hackvg/source/stylesheets/index.css.scss */
#about {
  padding: 30px 0; }
  /* line 63, /Users/jsayar/Desarrollo/hackvg/source/stylesheets/index.css.scss */
  #about h2 {
    margin-top: 0px; }
  /* line 66, /Users/jsayar/Desarrollo/hackvg/source/stylesheets/index.css.scss */
  #about #mockup {
    margin: 20px 10px 0 10px; }
  /* line 69, /Users/jsayar/Desarrollo/hackvg/source/stylesheets/index.css.scss */
  #about #instructions-btn {
    margin-top: 15px;
    font-weight: 800; }

/* Faqs */
/* line 76, /Users/jsayar/Desarrollo/hackvg/source/stylesheets/index.css.scss */
#faqs {
  background: #4ba8ea;
  padding: 30px 0; }
  /* line 79, /Users/jsayar/Desarrollo/hackvg/source/stylesheets/index.css.scss */
  #faqs h2 {
    margin-top: 0px;
    color: #fff; }
  /* line 83, /Users/jsayar/Desarrollo/hackvg/source/stylesheets/index.css.scss */
  #faqs h3 {
    font-size: 1.4em;
    margin: 0;
    color: #fff; }
  /* line 88, /Users/jsayar/Desarrollo/hackvg/source/stylesheets/index.css.scss */
  #faqs p {
    margin: 0; }
  /* line 91, /Users/jsayar/Desarrollo/hackvg/source/stylesheets/index.css.scss */
  #faqs .faq {
    margin-bottom: 10px; }

/* Schedule */
/* line 97, /Users/jsayar/Desarrollo/hackvg/source/stylesheets/index.css.scss */
#schedule {
  padding: 30px 0; }
  /* line 99, /Users/jsayar/Desarrollo/hackvg/source/stylesheets/index.css.scss */
  #schedule h2 {
    margin-top: 0px; }
  /* line 102, /Users/jsayar/Desarrollo/hackvg/source/stylesheets/index.css.scss */
  #schedule table {
    margin-top: 20px; }

/* Location */
/* line 109, /Users/jsayar/Desarrollo/hackvg/source/stylesheets/index.css.scss */
#location #map {
  margin-top: 15px; }

/* Sponsors */
/* line 115, /Users/jsayar/Desarrollo/hackvg/source/stylesheets/index.css.scss */
#sponsors {
  padding: 30px 0; }
  /* line 117, /Users/jsayar/Desarrollo/hackvg/source/stylesheets/index.css.scss */
  #sponsors h2 {
    margin-top: 0px; }
  /* line 120, /Users/jsayar/Desarrollo/hackvg/source/stylesheets/index.css.scss */
  #sponsors .caption {
    font-size: 20px; }
  /* line 123, /Users/jsayar/Desarrollo/hackvg/source/stylesheets/index.css.scss */
  #sponsors #sponsor-btn {
    font-weight: 800; }

/* Footer */
/* line 129, /Users/jsayar/Desarrollo/hackvg/source/stylesheets/index.css.scss */
footer {
  background-color: #4ba8ea;
  color: #fff; }

/* line 134, /Users/jsayar/Desarrollo/hackvg/source/stylesheets/index.css.scss */
footer a {
  color: #fff; }
