/* line 1, /Users/jsayar/Desarrollo/hackvg/source/stylesheets/main.css.scss */
body {
  font-family: Roboto, sans-serif;
  font-weight: 300; }

/* line 6, /Users/jsayar/Desarrollo/hackvg/source/stylesheets/main.css.scss */
* {
  -webkit-font-smoothing: antialiased; }

/* line 10, /Users/jsayar/Desarrollo/hackvg/source/stylesheets/main.css.scss */
h2 {
  color: #4ba8ea;
  font-weight: 300;
  font-size: 2.92rem;
  line-height: 3.212rem;
  -webkit-font-smoothing: antialiased; }

/* line 18, /Users/jsayar/Desarrollo/hackvg/source/stylesheets/main.css.scss */
.header {
  text-align: center; }

/* line 22, /Users/jsayar/Desarrollo/hackvg/source/stylesheets/main.css.scss */
table.striped tbody tr:nth-child(odd) {
  background-color: #4ba8ea; }
