/* line 1, /Users/jsayar/Desarrollo/hackvg/source/stylesheets/main.css.scss */
body {
  font-family: Roboto, sans-serif;
  font-weight: 300; }

/* line 6, /Users/jsayar/Desarrollo/hackvg/source/stylesheets/main.css.scss */
* {
  -webkit-font-smoothing: antialiased; }

/* line 10, /Users/jsayar/Desarrollo/hackvg/source/stylesheets/main.css.scss */
h1 {
  color: #4ba8ea; }

/* line 14, /Users/jsayar/Desarrollo/hackvg/source/stylesheets/main.css.scss */
h2 {
  color: #4ba8ea;
  font-weight: 300;
  font-size: 2.92rem;
  line-height: 3.212rem;
  -webkit-font-smoothing: antialiased; }

/* line 22, /Users/jsayar/Desarrollo/hackvg/source/stylesheets/main.css.scss */
.header {
  text-align: center; }

/* line 26, /Users/jsayar/Desarrollo/hackvg/source/stylesheets/main.css.scss */
input[type="submit"] {
  background: none;
  font-size: 1.2em;
  font-weight: 700; }
