/* line 2, /Users/jsayar/Desarrollo/hackvg/source/stylesheets/projects.css.scss */
#projects .name {
  font-size: 16px;
  color: #1E88E5;
  font-weight: bold; }
/* line 7, /Users/jsayar/Desarrollo/hackvg/source/stylesheets/projects.css.scss */
#projects .section {
  margin-top: 5px;
  margin-bottom: 0px;
  padding: 0px; }
/* line 12, /Users/jsayar/Desarrollo/hackvg/source/stylesheets/projects.css.scss */
#projects .description, #projects .developers {
  margin-top: 5px; }
