<div class="section">
  <h2 class="header">Horario</h2>
  <div class="row">
    <div class="col s12 m6"></div>
    <div class="col s12 m6"></div>
  </div>
  <table>
    <thead>
      <tr>
          <th data-field="id">Hora</th>
          <th data-field="name">Actividad</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>09:00</td>
        <td>Inscripción, exposición de ideas y creación de equipos.</td>
      </tr>
      <tr>
        <td>10:00</td>
        <td>Comienzo oficial del tiempo de creación de la aplicación.</td>
      </tr>
      <tr>
        <td>14:00</td>
        <td>Parada para comer y tomar fuerzas.</td>
      </tr>
      <tr>
        <td>14:00</td>
        <td>Parada para comer y tomar fuerzas.</td>
      </tr>
      <tr>
        <td>15:00</td>
        <td>Seguimos con la creación de de la aplicación.</td>
      </tr>
      <tr>
        <td>21:00</td>
        <td>Presentaciones y demos de los distintos equipos.</td>
      </tr>
      <tr>
        <td>22:00</td>
        <td>Fallo del jurado, reparto de premios y cierre del evento.</td>
      </tr>
    </tbody>
  </table>
</div>