<div class="section" id="sponsors">
  <div class="row center">
    <h2 class="header">Sponsors</h2>
    <p class="col s8 offset-s2 m8 offset-m2 l8 offset-l2 caption">
      Todavía no tenemos sponsors, animate ponte en contacto con nosotros, ayudanos o colabora en este evento, estaremos encantados de hacerte publicidad.
    </p>
  </div>
  <div class="row center">
    <a href="http://materializecss.com/showcase.html" class="btn-large waves-effect waves-light">Hazte Sponsor</a>
  </div>
</div>