---
title: Contacto - #HackVG
---
<section id=="contact">
  <div class="container">
    <h1>Contacto</h1>
    <div class="row">
      <form action="https://getsimpleform.com/messages?form_api_token=69b2da3e781d35d48d89fd2e19ed4206" method="post" class="col s12">
        <input type='hidden' name='redirect_to' value='http://vigodevs.github.io/hackvg' />
        <div class="row">
          <div class="input-field col s6">
            <input id="first_name" type="text" name="first_name" required>
            <label for="first_name">Nombre</label>
          </div>
          <div class="input-field col s6">
            <input id="last_name" type="text" name="last_name" required>
            <label for="last_name">Apellidos</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input id="subject" type="text" name="subject" required>
            <label for="subject">Asunto</label>
          </div>
          <div class="input-field col s6">
            <input id="email" type="text" name="email" required>
            <label for="last_name">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <textarea class="materialize-textarea" name="message" required></textarea>
            <label>Mensaje</label>
          </div>
        </div>
        <input type='submit' value='Enviar' class='btn-large waves-effect waves-light' />
      </form>
    </div>
  </div>
</section>
