---
title: Datasets - #HackVG
---
<section id="datasets">
  <div class="container">
    <h1>Datasets</h1>
      <div class="row">
      <% data.datasets.each do |dataset| %>
        <div class="col s12 m6 l6">
          <div class="card-panel grey lighten-5 z-depth-1 dataset" >
            <%= link_to dataset.name, dataset.url %>
            <p><%= dataset.description %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>