---
title: HackVG
---

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <h1 class="header center-on-small-only">#HackVG</h1>
      <div class="row center">
        <h4 class="header col s12 light center">Hackathon Vigo es una competición de desarrollo donde se pondrá a prueba tu destreza para completar el desarrollo de una idea en 12 horas.</h4>
      </div>
      <div class="row center">
        <a href="http://www.meetup.com/vigo-devs/events/219259693/" id="signup-btn" class="btn-large waves-effect waves-light">Registrate</a>
      </div>

    </div>
  </div>

  <div class="container">
    <div id="about" class="section">
      <div class="row">
        <div class="col s12 m4">
          <div class="item">
            <div class="light-blue-text"><i class="large mdi-social-group"></i></div> 
            <h5>Piensa una idea</h5>

            <p class="light">Crea un grupo, piensa en las necesidades, analiza los recuros y forma una idea.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="item">
            <div class="light-blue-text"><i class="large mdi-hardware-laptop-mac"></i></div>
            <h5>Desarrollala</h5>

            <p class="light">Utiliza cualquier los lenguajes y tecnologías a tu alcance para llevar a cabo la ejecución de vuestra idea de una manera sencilla y rapida.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="item">
            <div class="light-blue-text"><i class="large mdi-social-public"></i></div>
            <h5>Compartela</h5>

            <p class="light">Muestra los resultados de tu trabajo, comparte tu conocimiento y aprende de la experiencia y sabiduría del resto de concursantes.</p>
          </div>
        </div>
      </div>
    </div>
    <%= partial "schedule" %>
    <%= partial "location" %>
    <%= partial "sponsors" %>
  </div>








